{%- unless ignore_style == true -%}
  {{- 'module-account-order-detail.css' | asset_url | stylesheet_tag -}}
{%- endunless -%}

{%- capture tracking_number -%}
  {%- if order.line_items[0].fulfillment.tracking_number -%}
    {{- order.line_items[0].fulfillment.tracking_number -}}
  {%- else -%}
    &mdash;
  {%- endif -%}
{%- endcapture -%}
<div class="account-order-detail">
  <div class="header flex-items-center mb-4">
    <a href="/account?view=orders">
      {%- render 'icon' with 'icon-chevron-left-2', class: 'w-6 h-6 print:hidden' -%}
    </a>
    {%- assign order_number = order.order_number | prepend: '#' -%}
    <h2 class="h5 lg:h4 mx-2 print:mx-0 print:mr-2">{{- 'customer.order.title' | t: no: order_number -}}</h2>
    <span class="badge">{{- order.fulfillment_status_label -}}</span>
  </div>
  <div class="mb-4 flex flex-col justify-between md:flex-row md:items-center">
    <p class="mb-2 inline-block text-sm text-grey-700 md:mb-0">{{- order.created_at | date: '%B %d, %Y - %l:%M%P' -}}</p>
    <div class="action print:hidden">
      <a href="javascript:window.print();" class="link">{{- 'customer.order.print' | t -}}</a>
      <a href="#" class="link ml-6 inline-block normal-case">{{- 'customer.order.track_order' | t -}}</a>
    </div>
  </div>
  <div class="rounded border">
    <table class="w-full">
      <thead class="hidden border-b font-bold lg:table-header-group">
        <tr>
          {%- assign heading_table_class = 'hidden lg:table-cell py-2 lg:py-4 text-text-xs uppercase text-grey-900 font-bold' -%}
          <td class="{{ heading_table_class }} pl-4">{{- 'customer.order.product' | t -}}</td>
          <td class="{{ heading_table_class }} lg:lg:w-[calc(92/988*100%)]">{{- 'customer.order.price' | t -}}</td>
          <td class="{{ heading_table_class }} text-center lg:lg:w-[calc(102/988*100%)]">{{- 'customer.order.quantity' | t -}}</td>
          <td class="{{ heading_table_class }} pr-4 text-right lg:w-[calc(113/988*100%)]">{{- 'customer.order.total' | t -}}</td>
        </tr>
      </thead>
      <tbody>
        {%- for item in order.line_items -%}
          {%- assign product_image = item.product.featured_image -%}
          <tr class="flex flex-wrap border-t border-b-0 first:border-t-0 lg:table-row">
            <td class="flex p-4 text-base text-grey-700 lg:table-cell lg:py-4 lg-max:w-full" data-label="{{- 'customer.order.product' | t -}}">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  {%- render 'image', image: product_image, class: 'w-20 aspect-1' -%}
                </div>
                <div class="ml-4 flex flex-col">
                  <div class="text-base text-grey-900 lg:text-sm">{{- item.product.title -}}</div>
                  <div class="mt-0.5 text-base text-grey-700 lg:text-xs">
                    {%- for option in item.options_with_values -%}
                      {%- unless option.value == 'Default Title' -%}
                        <span class="text-sm text-grey-500">
                          {%- unless forloop.first and forloop.index == 1 %} | {% endunless -%}
                          {{- option.value -}}
                        </span>
                      {%- endunless -%}
                    {%- endfor -%}
                    <read-more class="text-sm text-grey-500" data-limit="76">
                      {%- for option in item.properties -%}
                        {%- assign value = option | first -%}
                        {%- if value != 'null' and value != 'timestamp' and value != 'Add Message color' and value != 'isCartGift' -%}
                          {% unless forloop.first and forloop.index == 1 %} , {% endunless %}
                          {{- value -}}
                          {% if forloop.last and forloop.index != 1 %}.{% endif %}
                        {%- endif -%}
                      {%- endfor -%}
                    </read-more>
                  </div>
                  {%- if item.selling_plan_allocation != blank -%}
                    <div class="flex items-center">
                      {%- render 'icon' with 'icon-sync', class: 'w-2.5 h-2.5' -%}
                      <span class="ml-1 text-base text-grey-700 lg:text-xs">{{- item.selling_plan_allocation.selling_plan.name -}}</span>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </td>
            {%- assign lineitems_info_class = 'flex flex-col lg-max:w-1/3 lg:flex-row lg:table-cell text-sm text-grey-900 before:content-[attr(data-label)] before:block before:text-grey-500 before:text-sm lg:before:hidden' -%}
            <td class="{{ lineitems_info_class }} pl-4 pb-4 lg:pl-0" data-label="{{- 'customer.order.price' | t -}}">{{- item.price | money -}}</td>
            <td class="{{ lineitems_info_class }} pb-4 text-center before:text-center" data-label="{{- 'customer.order.quantity_label' | t -}}">
              {{- item.quantity -}}
            </td>
            <td class="{{ lineitems_info_class }} pr-4 pb-4 text-right before:text-right" data-label="{{- 'customer.order.total' | t -}}">
              {{- item.final_line_price | money -}}
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
      <tfoot class="table-order__bottom">
        <tr class="border-t border-b-0">
          <td colspan="3" class="hidden pt-4 pb-1 pl-4 text-sm text-grey-700 lg:table-cell">{{- 'customer.order.subtotal' | t -}}</td>
          <td
            class="flex justify-between pt-4 pl-4 pr-4 pb-1 text-sm text-grey-700 before:mr-10 before:block before:w-fit before:text-sm before:text-grey-700 before:content-[attr(data-label)] lg:table-cell lg:pl-0 lg:text-right lg:before:hidden"
            data-label="{{- 'customer.order.subtotal' | t -}}"
          >
            <span>{{- order.subtotal_price | plus: order.total_discounts | money -}}</span>
          </td>
        </tr>
        {%- for discount in order.discounts -%}
          {%- capture discount_label -%}
          {{- 'customer.order.discount' | t -}}
          {%- if order.discount_applications.size > 0 -%}
            :
          {%- endif -%}
          {% for discount_application in order.discount_applications %}
            {{ discount_application.title }}
          {% endfor %}
        {%- endcapture -%}
          <tr>
            <td colspan="3" class="hidden pb-1 pl-4 text-sm text-grey-700 lg:table-cell">
              {{- discount.code -}}
              {{- discount_label -}}
            </td>
            <td
              class="flex justify-between pl-4 pb-1 pr-4 text-sm text-grey-700 before:mr-10 before:block before:w-fit before:text-sm before:text-grey-700 before:content-[attr(data-label)] lg:table-cell lg:pl-0 lg:text-right lg:before:hidden"
              data-label="{{- discount_label -}}"
            >
              <span
                >-
                {{- discount.savings | remove: '-' | money -}}
              </span>
            </td>
          </tr>
        {%- endfor -%}
        {%- for tax_line in order.tax_lines -%}
          <tr>
            <td colspan="3" class="hidden pb-1 pl-4 text-sm text-grey-700 lg:table-cell">{{- tax_line.title -}}</td>
            <td
              class="flex justify-between pl-4 pb-1 pr-4 text-sm text-grey-700 before:mr-10 before:block before:w-fit before:text-sm before:text-grey-700 before:content-[attr(data-label)] lg:table-cell lg:pl-0 lg:text-right lg:before:hidden"
              data-label="{{- tax_line.title -}}"
            >
              <span>{{- tax_line.price | money -}}</span>
            </td>
          </tr>
        {%- endfor -%}
        {%- for shipping_method in order.shipping_methods -%}
          {%- if forloop.last -%}
            {%- assign class_order_shipping = '!pb-4' -%}
          {%- endif -%}
          <tr>
            <td colspan="3" class="hidden pb-1 pl-4 text-sm text-grey-700 lg:table-cell {{ class_order_shipping }}">{{- 'customer.order.shipping' | t -}}</td>
            <td
              class="flex justify-between pl-4 pb-1 pr-4 text-sm text-grey-700 before:mr-10 before:block before:w-fit before:text-sm before:text-grey-700 before:content-[attr(data-label)] lg:table-cell lg:pl-0 lg:text-right lg:before:hidden {{ class_order_shipping }}"
              data-label="{{- 'customer.order.shipping' | t -}}"
            >
              <span>{{- shipping_method.price | money -}}</span>
            </td>
          </tr>
        {%- endfor -%}
        <tr class="relative after:absolute after:top-0 after:left-4 after:w-[calc(100%-32px)] after:border-b after:content-['']">
          <td colspan="3" class="hidden py-4 pt-4 pb-4 pl-4 text-base font-bold lg:table-cell">{{- 'customer.order.total' | t -}}</td>
          <td
            class="flex justify-between py-4 pl-4 pt-4 pr-4 text-base font-bold text-grey-900 before:mr-10 before:block before:w-fit before:text-base before:font-bold before:text-grey-900 before:content-[attr(data-label)] lg:table-cell lg:text-right lg:before:hidden"
            data-label="{{- 'customer.orders.total' | t -}}"
          >
            <span>{{- order.total_price | money -}}</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  {%- if order.shipping_address.name or order.billing_address.name -%}
    <div class="mt-4 lg:mt-8">
      <div class="flex flex-col gap-6 print:flex-row lg:flex-row">
        <div class="min-w-36 w-full">
          <h3 class="mb-2.5 text-base font-bold text-grey-900">{{- 'customer.order.billing_address' | t -}}</h3>
          <p class="text-sm text-grey-700">
            {{- 'customer.order.payment_status' | t -}}
            : {{ order.financial_status_label }}
          </p>
          {%- if order.billing_address.name != blank -%}
            <div class="mt-4 text-sm text-grey-700">
              <p>{{- order.billing_address.name -}}</p>
              <p>{{- order.billing_address.company -}}</p>
              <p>{{- order.billing_address.address1 -}}</p>
              <p>
                {{- order.billing_address.city -}}
                {%- if order.billing_address.province_code != blank -%}
                  ,&nbsp
                  {{- order.billing_address.province_code -}}
                {%- endif -%}
                {%- if order.billing_address.zip != blank -%}
                  &nbsp
                  {{- order.billing_address.zip -}}
                {%- endif -%}
              </p>
              <p>{{- order.billing_address.country -}}</p>
            </div>
          {%- endif -%}
        </div>

        <div class="min-w-36 w-full">
          <h3 class="mb-2.5 text-base font-bold text-grey-900">{{- 'customer.order.shipping_address' | t -}}</h3>
          <p class="text-sm text-grey-700">
            {{- 'customer.order.fulfillment_status' | t -}}
            : {{ order.fulfillment_status_label }}
          </p>
          <a href="https://support.convertdigital.com.au/hc/en-au/articles/5361890669071-Delivery-Times-Prices" class="link normal-case">
            {{- 'customer.order.delivery_times' | t -}}
          </a>
          {%- if order.shipping_address.name != blank -%}
            <div class="mt-4 text-sm text-grey-700">
              <p>{{- order.shipping_address.name -}}</p>
              <p>{{- order.shipping_address.company -}}</p>
              <p>{{- order.shipping_address.address1 -}}</p>
              <p>
                {{- order.shipping_address.city -}}
                {%- if order.shipping_address.province_code != blank -%}
                  ,&nbsp
                  {{- order.shipping_address.province_code -}}
                {%- endif -%}
                {%- if order.shipping_address.zip != blank -%}
                  &nbsp
                  {{- order.shipping_address.zip -}}
                {%- endif -%}
              </p>
              <p>{{- order.shipping_address.country -}}</p>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
