<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0, viewport-fit=cover">

    {% liquid
      render 'preconnect-required-origins'
      render 'favicon'
      render 'seo-title'
      render 'social-meta'
      render 'font-faces'
    %}

    {{ content_for_header }}
    {{ 'password.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>

    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
