{%- liquid
  assign heading = heading | default: null
  assign class = class | default: null
  assign default_address = default_address | default: false

  assign first_name_label = 'customer.addresses.first_name' | t
  assign first_name_id = 'address_first_name_' | append: address_id

  assign last_name_label = 'customer.addresses.last_name' | t
  assign last_name_id = 'address_last_name_' | append: address_id

  assign company_label = 'customer.addresses.company' | t
  assign company_id = 'address_company_' | append: address_id

  assign address_label = 'customer.addresses.address' | t
  assign address_id = 'address_address1_' | append: address.id

  assign city_label = 'customer.addresses.city' | t
  assign city_id = 'address_city_' | append: address_id

  assign country_label = 'customer.addresses.country' | t
  assign country_id = 'address_country_' | append: address_id

  assign province_label = 'customer.addresses.province' | t
  assign province_id = 'address_province_' | append: address_id

  assign zip_label = 'customer.addresses.zip' | t
  assign zip_id = 'address_zip_' | append: address_id

  assign phone_label = 'customer.addresses.phone' | t
  assign phone_id = 'address_phone_' | append: address_id

  assign set_default_label = 'customer.addresses.set_default' | t
  assign set_default_id = 'address_default_address_' | append: address_id

  assign submit_label = 'customer.addresses.add' | t
  if address.id != blank
    assign submit_label = 'customer.addresses.update' | t
  endif

  assign cancel_label = 'customer.addresses.cancel' | t
-%}

{%- capture all_countries_tags -%}
  {{ country_option_tags }}
{%- endcapture -%}
{%- assign all_countries_tags = all_countries_tags | split: '<option value="---" data-provinces="[]">---</option>' -%}
{%- assign all_countries_tags = all_countries_tags[1] -%}

<account-address-form id="address-{{- address.id | default: 'new' -}}" class="block {{ class }} js-account-address-form">
  {%- if heading != blank -%}
    <h4 class="h5 border-b py-4 text-center">{{- heading -}}</h4>
  {%- endif -%}
  <validate-form>
    <div class="js-address-form-content h-full max-h-[83vh] w-full overflow-y-auto">
      {%- form 'customer_address', address, class: 'p-6' -%}
        {%- assign default_country = form.country_code | default: shop.address.country_code -%}
        {%- assign default_conntry_value = address.country | default: 'Australia' -%}
        <div data-address="root" class="flex flex-wrap">
          {% comment %}theme-check-disable{% endcomment %}
          <div class="mb-4 flex w-full gap-4">
            {%- render 'text-input',
              class: 'w-1/2',
              id: first_name_id,
              name: 'address[first_name]',
              value: address.first_name,
              label: first_name_label,
              placeholder: first_name_label,
              required: true,
              autocomplete: 'given-name'
            -%}
            {%- render 'text-input',
              class: 'w-full w-1/2',
              id: last_name_id,
              name: 'address[last_name]',
              value: address.last_name,
              label: last_name_label,
              placeholder: last_name_label,
              required: true,
              autocomplete: 'family-name'
            -%}
          </div>
          <div class="flex w-full gap-4">
            {%- render 'text-input',
              class: 'mb-4 w-full',
              id: address_id,
              name: 'address[address1]',
              value: address.address1,
              label: address_label,
              placeholder: address_label,
              required: true,
              autocomplete: 'address-line1'
            -%}
          </div>
          {%- if settings.address_note != blank -%}
            <div class="flex w-full gap-4">
              <p class="mb-4 w-full rounded bg-grey-100 py-3 px-4 text-sm tracking-normal text-grey-700">{{- settings.address_note -}}</p>
            </div>
          {%- endif -%}
          <div class="flex w-full gap-4">
            {%- render 'text-input',
              class: 'mb-4 w-full',
              id: city_id,
              name: 'address[city]',
              value: address.city,
              label: city_label,
              placeholder: city_label,
              required: true,
              autocomplete: 'address-level2'
            -%}
          </div>
          <div class="flex w-full gap-4">
            {%- render 'select-input',
              class: 'mb-4 w-full',
              id: country_id,
              name: 'address[country]',
              label: country_label,
              placeholder: country_label,
              options: all_countries_tags,
              value: default_conntry_value,
              autocomplete: 'country',
              default: default_country,
              required: true
            -%}
          </div>
          <div class="flex w-full gap-4">
            {%- render 'select-input',
              class: 'mb-4 w-full',
              id: province_id,
              name: 'address[province]',
              value: address.province,
              label: province_label,
              placeholder: province_label,
              autocomplete: 'address-level1',
              default: address.province_code,
              required: true
            -%}
          </div>
          <div class="flex w-full gap-4">
            {%- render 'text-input',
              class: 'mb-4 w-full',
              id: zip_id,
              name: 'address[zip]',
              value: address.zip,
              label: zip_label,
              placeholder: zip_label,
              required: true,
              autocomplete: 'postal-code'
            -%}
          </div>
          <div class="flex w-full gap-4">
            {%- render 'text-input',
              class: 'mb-4 w-full',
              id: phone_id,
              name: 'address[phone]',
              value: address.phone,
              type: 'tel',
              label: phone_label,
              placeholder: phone_label,
              autocomplete: 'tel'
            -%}
          </div>
          {% comment %}theme-check-enable{% endcomment %}
        </div>
        <div class="flex w-full gap-4">
          {%- render 'checkbox-input', name: 'address[default]', id: set_default_id, label: set_default_label, checked: default_address -%}
        </div>
        <div class="mt-4 flex w-full gap-4">
          {%- render 'button',
            class: 'button-primary whitespace-nowrap basis-1/2 flex-shrink-0 px-3 md:px-6',
            link_tag: 'button',
            link_text: submit_label,
            attr: 'type="submit"'
          -%}
          {%- render 'button',
            class: 'button-outlined whitespace-nowrap basis-1/2 js-close-modal-dialog',
            link_tag: 'button',
            link_text: cancel_label,
            attr: 'type="reset"'
          -%}
        </div>
      {%- endform -%}
    </div>
  </validate-form>
</account-address-form>

{%- unless ignore_script == true -%}
  {%- capture src_url -%}
    {{- 'module-account-address-form.js' | asset_url -}}
  {%- endcapture -%}
  {%- render 'atom_script', src: src_url, priority: 'normal', type: 'defer' -%}
{%- endunless -%}
